node_modules
build
coverage
.git
.gitignore
.env
.env.*
*.local
Dockerfile
.dockerignore
docs
**/*.spec.ts
**/*.test.ts
jest.config.ts
jest.global-setup.ts
jest.global-teardown.ts
eslint.config.ts
tsconfig.eslint.json
.prettierrc
